* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #87A2FF, #FFF4B5);
    color: white;
    transition: 0.4s;
}

body.dark {
    background: #090040;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 8%;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 18px;
}

/* Base Button Style */
.nav-btn {
    position: relative;
    padding: 8px 18px;
    border-radius: 30px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: 0.3s;
    z-index: 1;
}

/* Glowing Border Effect */
.nav-btn::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: 30px;
    background: linear-gradient(45deg, #D73535, #FFA240, #FFD41D, #ff6ec4);
    background-size: 300%;
    z-index: -1;
    filter: blur(6px);
    opacity: 0;
    transition: 0.4s;
}

/* Hover Glow */
.nav-btn:hover::before {
    opacity: 1;
    animation: glowMove 4s linear infinite;
}

.nav-btn:hover {
    color: white;
}

/* Active Section Glow */
.nav-btn.active::before {
    opacity: 1;
    animation: glowMove 4s linear infinite;
}

/* Glow Animation */
@keyframes glowMove {
    0% { background-position: 0% }
    100% { background-position: 300% }
}


#darkToggle {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.section {
    padding: 80px 8%;
    text-align: center;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.hero img {
    width: 220px;
    border-radius: 50%;
}

.gradient-text {
    background: linear-gradient(to right, #F63049, #8A244B);
    -webkit-background-clip: text;
    color: transparent;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: rgba(23, 1, 1, 0.1);
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

form {
    max-width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, textarea {
    padding: 10px;
    border: none;
    border-radius: 8px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: linear-gradient(to right, #F63049, #8A244B);
    color: white;
}

.error {
    color: #ffcccb;
    font-size: 0.8rem;
    height: 12px;
}

.hidden {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

footer {
    text-align: center;
    padding: 20px;
}
.project-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.btn-live, .btn-github {
    padding: 8px 14px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 0.9rem;
    transition: 0.3s;
}

.btn-live {
    background: linear-gradient(to right, #F63049, #8A244B);
    color: white;
}

.btn-github {
    background: #0C2C55;
    color: white;
}

.btn-live:hover {
    transform: scale(1.05);
}

.btn-github:hover {
    background: #444;
}
/* Hamburger */
.menu-toggle {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
}

/* Mobile Styles */
@media (max-width: 768px) {

    .menu-toggle {
        display: block;
        color: white;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: rgba(0,0,0,0.9);
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        gap: 20px;
        display: none;
    }

    .nav-links.show-menu {
        display: flex;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .hero img {
        width: 160px;
    }

    .nav-btn {
        width: 80%;
        text-align: center;
        padding: 10px;
    }
}
